@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html{
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    }

body {
    font-family: "Lato", sans-serif;
    color:#000;
    font-size:17px;
    font-weight: 400;
    position: relative;
    background-color:#fff;
}

/* :focus{outline:3px solid rgba(69, 32, 253, 0.5);box-shadow:0 0 20px rgba(69, 32, 253, 0.5)!important;} */

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
figure {
    margin:0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

h1, h2, h3, h4, h5, h6, p {margin:0;}

h3{
    font-size:1.1rem;
    line-height:1.5;
}
p{
    font-size:1rem;
    line-height:1.5;
}
ul{
    font-size:1rem;
    line-height:1.5;
    margin:0;
    padding:0;
    list-style: none;
}

.content_width{
    margin:auto;
    width:85%;
    max-width: 1200px;
}
@media screen and (max-width: 500px) {
    .content_width {width: calc(100% - 60px);}
}

/* Header */
#header_main{
    padding:2rem;
}
#header_logo{
    width:auto;
    height: 5rem;
    margin: auto;
}

/* Search */
#search{
    padding-bottom:1rem;
    position: relative;
}
#search_main_wrapper{
    position: relative;
}
#search_main:focus{
    outline:none;
    border:none;
    box-shadow: none;
}
#search_main_label{
    visibility:hidden;
    display:block;
    height:0;
}
#search_main{
    border:0;
    background-color: #E7E7E7;
    border-radius:3px;
    width: 100%;
    padding:1.1rem 3.5rem 1.1rem 1.1rem;
    font-size:1rem;
}
#search_main::placeholder{
    color:#000;
    opacity:0.25;
}
#search_main_wrapper svg{
    position: absolute;
    right: 0.7rem;
    height: 1.8rem;
    width: auto;
    top: 0.85rem;
}
#search_main_wrapper svg path{
    fill:rgb(60, 60, 60);
}

/* Messages au dessus de la liste des résultats */
#messages{
    padding-bottom:1.8rem;
}
#messages p strong{
    color:#D04F4F;
    font-weight:700;
}
#message-error-expression__wrapper{
    background-color: rgba(00, 00, 00, 0.5);
    color: #fff;
    padding: 0.4rem 1rem;
    margin-bottom: 0.8rem;
    border-radius: 3px;
    position: absolute;
    /* transform: translateY(-100%); */
    /* opacity: 0;
    transform: translateY(-90%); */
    top: 0.5rem;
    z-index: 1;
    left: 1rem;
}
@keyframes popIn {
    0% {
        opacity: 0;
        transform: translateY(-90%);
    }
    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}
.popIn{
    animation-duration: 0.25s; /* durée de l'animation */
    animation-timing-function: cubic-bezier(.84,-0.72,.27,1.61); /* type de easing */
    animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
    animation-delay: 0s;
    animation-name: popIn; /* appel keyframes */
    animation-fill-mode: forwards;
    animation-direction: normal;
}
@keyframes popOut {
    0% {
        opacity: 1;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0;
        transform: translateY(-130%);
    }
}
.popOut{
    animation-duration: 0.25s; /* durée de l'animation */
    animation-timing-function: cubic-bezier(.84,-0.72,.27,1.61); /* type de easing */
    animation-iteration-count: 1; /* nombre de fois où l'animation est jouée */
    animation-delay: 0s;
    animation-name: popOut; /* appel keyframes */
    animation-fill-mode: forwards;
    animation-direction: normal;
}
#message-error-expression__wrapper p{
    font-size:0.85rem;
    position: relative;
}
#message-error-expression i{
    position: absolute;
    right: -2rem;
    bottom: -0.7rem;
}
#message-error-expression i svg{
    height: 1rem;
    fill: rgba(00, 00, 00, 0.5);
    vertical-align: -0.15rem;
}


/* Liste des résultats */
#results{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.8rem;
    padding-bottom:1.8rem;
}
.recipe__card{
    background-color: #E7E7E7;
    border-radius: 5px;
    overflow: hidden;
}
.recipe__image{
    background-color: #C7BEBE;
    padding-top:50%;
    width: 100%;
}
.recipe__infos_wrapper{
    padding:20px;
}
.recipe__header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0.8rem;
}
.recipe__title{
    line-height:1.5rem;
    width:calc(100% - 5rem);
}
.recipe__time{
    width:5rem;
    white-space: nowrap;
    font-size:0.9rem;
    line-height:1.5rem;
    text-align:right;
    font-weight:700;
}
.recipe__time i{
    vertical-align: -0.18rem;
    margin-right: 0.25rem;
}
.recipe__time i svg{
    height:1rem;
    width:auto;
    fill:rgb(120, 120, 120);
}
.recipe__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recipe__ingredients{
    width: calc(50% - 0.5rem);
}
.recipe__description{
    width: calc(50% - 0.5rem);
}
.ingredients_list{
    font-size:0.8rem;
}
.recipe__description p{
    font-size:0.8rem;
}
@media screen and (max-width: 1080px) {
    #results{grid-template-columns: 1fr 1fr;}
}
@media screen and (max-width: 640px) {
    #results{grid-template-columns: 1fr;}
}


/* Filters */
#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    padding-bottom:1.8rem;
}
.filter_item{
    width:14rem;
    margin-right:1rem;
    border-radius:3px;
    font-weight:700;
    color:#fff;
    position: relative;
    cursor:pointer;
    transition:0.2s width cubic-bezier(.74,-0.01,.29,.99);
}
.filter_item .filter_item_label {
    padding:1rem 2rem 1rem 1rem;
    line-height:1;
}
.filter_item_form{}
.filter_item_form__label{
    visibility: hidden;
    height: 0px;
    display: block;
}
.filter_item_form__input{
    width:100%;
    padding:1rem 2rem 1rem 1rem;
    background-color: transparent;
    border:none;
    font-size:1rem;
    color: #fff;
    display:none;
}
.filter_item_form__input::placeholder{
    color:#fff;
    opacity:0.8;
}
.filter_item_form__input:focus{
    outline:0;
}
.filter_item.open{
    width:28rem;
    border-radius:3px 3px 0px 0px;
    transition:0.2s width cubic-bezier(.74,-0.01,.29,.99);
}
.angle_filter_box{
    position: absolute;
    right: 0.7rem;
    height: 1rem;
    fill: #fff;
    top: 1.05rem;
    transform:rotate(0deg);
    transition:0.2s transform ease-in-out;
}
.filter_item.open .angle_filter_box{
    transform:rotate(-180deg);
    transition:0.2s transform ease-in-out;
}
#filter_ingredients,
#filter_ingredients .filter_list{
    background-color:#3282F7;
}
#filter_appliance,
#filter_appliance .filter_list{
    background-color:#68D9A4;
}
#filter_ustensils,
#filter_ustensils .filter_list{
    background-color:#ED6454;
}

.filter_item .filter_list{
    position: absolute;
    width: 100%;
    max-height:200px;
    overflow-y: auto;
    top: 3rem;
    left: 0;
    padding: 0.3rem 1rem 0.8rem 1rem;
    border-radius:0px 0px 3px 3px;
    border-top:1px solid rgba(255, 255, 255, 0.4);
    transform:scaleY(0);
    transform-origin:top left;
    opacity:0;
    transition:0.2s opacity ease-in-out,0.2s transform ease-in-out;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filter_item.open .filter_list{
    transform:scaleY(1);
    transform-origin:top left;
    opacity:1;
    transition:0.2s opacity ease-in-out,0.2s transform ease-in-out;
}
.filter_list_item{
    width: calc(50% - 0.5rem);
    line-height: 1;
    padding: 0.5rem 0.7rem;
    border-radius: 3px;
    margin-top:0.5rem;
    font-weight:400;
}
#filter_ingredients .filter_list_item{
    background-color:hsla(216, 92%, 53%, 1);
}
#filter_ingredients .filter_list_item:hover{
    background-color:hsla(216, 92%, 50%, 1);
}
#filter_appliance .filter_list_item{
    background-color:hsla(152, 60%, 53%, 1);
}
#filter_appliance .filter_list_item:hover{
    background-color:hsla(152, 60%, 50%, 1);
}
#filter_ustensils .filter_list_item{
    background-color:hsla(6, 81%, 58%, 1);
}
#filter_ustensils .filter_list_item:hover{
    background-color:hsla(6, 81%, 55%, 1);
}